<% @page[:title] = "Add Maps to Your Page : How To" %>
<h2>Add Maps to Your Page: How To</h2>
<p>
	Before you get started take a look at our <a href='/example'>example page</a>, where you can see the Geomapper functionality in action.  Tag any image, link, or chunk of text with a latitude/longitude and its location is automatically mapped for you.  Went on a road trip and blogging about your photos and where you took them?  This is for you.  Planning a wedding and want your guests to see how close the hotels are to the wedding site?  This is for you.  Have a GPS or just like mapping stuff?  Well, this is for you.
</p>
<p>
	The Google and Yahoo Maps APIs can be confusing and difficult to master; the GoRoam Geomapper is not.  What is an API, you ask?  Um, exactly - what do you care?  You just want to put a map on your page.  This is how you do it:
	<ol>
		<li><a href='/step1'>Get the code</a></li>
		<li><a href='/step2'>Find the Latitude/Longitude</a></li>
		<li><a href='/step3'>Add it to your page</a></li>
	</ol>
	Follow these steps - which involve little more than cutting and pasting - and you'll have a map on your web page in under 5 minutes.  If you want to see how to do it on a specific website (Blogger, Wordpress, etc.), check out our list of <a href='http://help.goro.am/tutorials'>site-specific tutorials</a>.
</p>
<p>
	Need more <a href='http://help.goro.am'>help</a>?  At <a href='http://help.goro.am'>help.goro.am</a>, we have a <a href='http://help.goro.am/api-reference'>code reference</a>, a list of <a href='http://help.goro.am/faq'>frequently asked questions</a>, a <a href='http://help.goro.am/troubleshooting'>troubleshooting guide</a>, and other information.  You can also feel free to email us at <a href='mailto:support@goro.am'>support@goro.am</a>.  Now let's get started.
</p>
<div class='center'>
	<span class='disabled_link'>Previous</span> : <a href='/step1'>Next</a><br /><br />
	<span class='disabled_link'>Start</span> : <a href='/step1'>Step 1</a> : <a href='/step2'>Step 2</a> : <a href='/step3'>Step 3</a>
</div>

