<h1><%= t :title_verification_needed %></h1>
<div><%= t :msg_need_verification_explanation %></div>
<div><%= t :prompt_resend_verification %> <%= link_to t(:link_resend_verification), resend_verify_path %></div>
