<!--<div class='footer'>
	<ul>
		<li><a href='/'>Home</a></li>
		<li><a href='http://blog.goro.am/'>Blog</a></li>
		<li><a href='http://goro.am/about/'>About</a></li>
		<li><a href='http://goro.am/contact/'>Contact Us</a></li>
		<li><a href='http://goro.am/'>Route Mapping Tool</a></li>
		<li><a href='http://www.addthis.com/bookmark.php' onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()">Share</a></li>
	</ul>
</div>-->

